/*
font-family: 'Roboto Condensed', san-serif;
font-family: 'Roboto', san-serif;


*/
.body {
	font-family: 'Roboto', 'san-serif';


}

.header {
	padding: 20px 0;
}


.logo {
	text-decoration: none;
	font-size: 30px;
	line-height: 1;
	color:#2B3f4c;


}

.intro_row{
	position: relative;
	padding-bottom: 50px;

}

.intro_row:before{
	background:url(../images/intro_phone.png) no-repeat center top;
	content:"";
	display:block;
	height:450px;
	right: 100px;
	position:absolute;
	width: 325px;
	bottom:0;



}

.background_hero {
	
	background: url(../images/intro_bg.jpg);
	background-color: #e77e04;
	display: block;
	height: 100%;
	width: 100%;
	margin: 10px 0 40px 0;
}
.background_hero:after{
	content: "";


}


.hero_images img{
	display: inline;
	width: 100px;

}

.hero_info{
	color: #fff;
	font-size: 20px;
	line-height: 1.5em;
	font-family: 'Roboto', 'san-serif';




}

.hero_header{
		font-family: 'Roboto Condensed' , 'san-serif';
		font-weight: lighter;
		font-size: 70px;
		line-height: 1em;
		color: #fff;


}

.logo:before {
	background: url(../images/icon_sprite.png) no-repeat 0 0;
	content:"";
	display: inline-block;
	margin: 0 15px 0 0;
	height:60px;
	width: 60px;
	vertical-align: middle;
}

/* Gallery */

.gallery_background{
	background-color: #C8FEC0 ;
	padding-bottom:20px;
	padding-top:20px;  


}

.gallery_header {
	font-family: 'Roboto Condensed', 'san-serif';
	font-weight: lighter;
	font-size: 36px;
	line-height: 1em;
	text-align: left;
	color: #2b3f4c;
	clear:right;


}

.gallery_container {

	vertical-align: top;

}

.gallery_pic img {
	
	
	
	width: 100%;
	
}



.gallery_list {

	list-style: none;
	


}

.gallery_list li {

	display:inline;
	
}

.gallery_list li img{
	width: 45%;
	height: 100px;

}



.button {
	color: #e77e04;
	display: inline-block;
	background:#fff;
	font-size: 14px;
	padding:10px 20px;
	border-radius: 3px;
	width:100%;
	border: 0 10px 0 10px;
	
	
	text-decoration: none;
	text-transform: uppercase;


}

.button_contain {

	text-align: center;





}

.no-touch .button:hover {
	background:  #000;


}

.feature_header{

	
	
	color: #e77e04;

}



.feature_details{
	text-align: center;
	font-size: 16px;
	line-height: 1.5em;
	color: #777777;
	margin-bottom: 50px;


}

.final_header{

	font-family: 'Roboto Condensed', 'san-serif';
	font-weight: lighter;
	font-size: 42px;
	line-height: 1em;
	color:#e77e04;
	text-align: center;

}

.contain_center{

	text-align: center;
}

.tag_{
	
	text-align: center;
}

.tag_:before{

	background: url(../images/icon_sprite.png) no-repeat 0 -120px;
	content:"";
	display: inline-block;
	margin: 0 auto 0 auto;
	height:64px;
	width: 66px;
	clear:both;
	margin-top:25px;
	margin-bottom:25px; 
	
}


.cloud_:before{

	background: url(../images/icon_sprite.png) no-repeat -80px -120px;
	content:"";
	display: inline-block;
	margin: 0 auto 0 auto;
	height:64px;
	width: 80px;
	clear:both;
	margin-top:25px;
	margin-bottom:25px; 
	
}

.map_:before{

	background: url(../images/icon_sprite.png) no-repeat -160px -120px;
	content:"";
	display: inline-block;
	margin: 0 auto 0 auto;
	height:64px;
	width: 60px;
	clear:both;
	margin-top:25px;
	margin-bottom:25px; 
	


}



.social_{
	margin-left: 0;
	margin-right: 0;
	margin:auto;
	text-align: center;

	padding-left: 0;


}

.social_ li {
	display: inline-block;
	list-style: none;

}


/* SPRITES */

#twitter{

	background: url(../images/icon_sprite.png) no-repeat -120px 0;
	margin: 0 15px 0 0;
	height:50px;
	width: 40px;

	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

#twitter a,
#facebook a,
#google_plus a{

	background: black;
	width:60px;

}






#facebook{

	background: url(../images/icon_sprite.png) no-repeat -80px 0;
	margin: 0 15px 0 0;
	height:50px;
	width: 40px;

	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}






#google_plus{

	background: url(../images/icon_sprite.png) no-repeat -160px 0;
	margin: 0 15px 0 0;
	height:50px;
	width: 40px;

	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}



#magnets{
	text-align: center;

}

.magnets_background{
	display: inline;
	background-color: black;
	border-left:20px;
	border-radius: 5px;
}

.magnet_links{
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	margin: auto;


}

#apple_{

	display:block;
	background: url(../images/icon_sprite.png) no-repeat center -200px;
	background-color: black;
	text-align: center;
	height:50px;
	width: 140px;

	border-left:20px;
	border-radius: 5px;
	

	
	margin-bottom: 10px;


	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;


}



#google_play{

	display:block;
	background: url(../images/icon_sprite.png) no-repeat center -260px;
	background-color: black;
	text-align: center;
	height:50px;
	width: 140px;
	
	border-left:20px;
	border-radius: 5px;
	
	
	margin-bottom: 10px;


	
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

	padding-right: 100px;
}

#amazon_{

	display:block;
	background: url(../images/icon_sprite.png) no-repeat center -320px;
	background-color: black;
	text-align: center;
	height:50px;
	width: 140px;

	border-left:20px;
	border-radius: 5px;
	

	
	
	margin-bottom: 50px;

	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}



.footer_{
	
	font-size: 16px;
	line-height: 1.5em;


}

.divider_{
	border-style: solid none none none;
	border-top: 1px solid #CFD1C9;
	padding-top: 30px;
	margin-top: 50px;




}

.footer_container{

	text-align: center;
}

.privacy_terms{
	color:#2B3f4c;
	text-align: center;

}

.remove_bullet{
	list-style: none;
	padding-left: 0;
	text-align: center;
}

.list_inline{
	display: inline;
}

.copyright_{
	color:#777777;
	line-height: 1.5em;
	

}

.center_class{
	text-align: center;
	margin-left:0;
	margin-right:0;
	margin: auto;


}




/* Mobile Only */


@media screen and (max-width: 739px) {

	.intro_row:before{
	
	display: none;

	}

	#google_play, #amazon_, #apple_ {

	display:block;
	margin-left: 0;
	margin-right:  0;
	margin:auto;

	margin-bottom: 10px;
	margin-top: 10px;

	width: 100%;
	}



	.copyright_{
	text-align: center;
	

}

.first_clear{

	clear:right;
}

.privacy_terms_center{
	
	text-align: center;

}





}

/* Tablet Only */


@media screen and (min-width : 739px) and (max-width : 949px){

	.intro_row:before{
	
	right:-100px;

	}

	.button {
	color: #e77e04;
	display: inline-block;
	background:#fff;
	font-size: 14px;
	padding:10px 20px;
	border-radius: 3px;
	width:300px;
	border: 0 10px 0 10px;
	margin: 0;
	margin: auto;
	
	
	text-decoration: none;
	text-transform: uppercase;


}

#google_play, #amazon_ , #apple_ {

	display: inline-block;
	text-align: center;
	

	margin-bottom: 0px;
}

.tablet_center{
	text-align: center;
}

.first_clear{

	clear:right;
}

.gallery_header{

	text-align: left;
}

.gallery_pic img{
	clear:right;
	
}

.gallery_img_tablet{

	margin:100px 0 0 0;


}

 .feature_details{

 	margin-bottom: 0px;
 	text-align: left;
 }

 .tablet_feature_margin{

 	margin: 0 0 50px 0;
 }
	


}

/* Desktop Only */


@media screen and (min-width: 969px) {

	.background_hero{
	padding-bottom: 0;
	padding-top: 0;
	



	

	}

	.feature_hero_detail,{

		text-align: left;
	}

	.hero_image{
	
	margin-bottom: -4px;

	}

	#google_play, #amazon_ , #apple_ {

	display: inline-block;
	
	margin-bottom: 0px;
	margin-right: 10px;
}

.gallery_header{

	text-align: center;
	vertical-align:bottom;
}





}



	
};