/**********************************
    General Css format
**********************************/    
html {
background-color: #666;

	
}

body{
margin: 0;

}
#frame {
	margin: 0 auto;
	/* padding: 0 200px 0 100px; */
	background-color: #fff;
	width: 975px;

}

#content{
	margin: 0 auto;
	width: 775px;
	padding: 100px;
	font-family:Georgia;


}

.Article{
font-family: Georgia;
font-style:bold; 
font-style: italic;
font-size:14px;
line-height: 1;
font-color: #999;
padding: 10px 0 10px 0;

}

.Quotes{
	font-family: Georgia;
	font-style: italic;
	font-size: 16px;
	
	line-height: 1.8;
	color:#333;
	border-left: 10px solid #e3e3e3;
	padding:0px 30px;
	background-color: #e3e3e3;

}

.Dividers{

	border-style: solid;
	border: 1px;
	margin: 10px;
}

ul li a{
	color:green;

}

li {

	font-family:Helvetica;
	font-size: 14px;
	line-height: 1.8;
	color: #333;
}

h1 {
	color:red;
	font-family: Georgia;
	font-style:bold;
	line-height: 1em;
	
	
}

h6{
	line-height: 10px;
}

p {

	font-family: Helvetica;
	font-size: 14px;
	line-height: 1.8;
	color:#333;
}

